absl-py==0.7.0
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
cachetools==3.0.0
Click==7.0
decorator==4.3.0
filelock==3.0.10
future==0.17.1
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
llvmlite==0.27.0
lucid==0.3.8
Markdown==3.0.1
more-itertools==5.0.0
numba==0.42.0
numpy==1.16.0
opencv-python==4.0.0.21
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
Pygments==2.3.1
PyOpenGL==3.1.0
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
traitlets==4.3.2
umap-learn==0.3.7
virtualenv==16.1.0
wcwidth==0.1.7
Werkzeug==0.14.1
